# Hamoye Internship- Quiz 1

## Question 1

In [31]:
#The identity matrix(3) produces a 3*3 matrix with 1 diagonally arranged and the rest being zeros
import numpy as np
a=np.identity(3)
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
import pandas as pd

## Import dataset

In [5]:
#loading csv file
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data=pd.read_csv(url)

In [6]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Finding the S.D. Question 8

In [9]:
s_d=fuel_data['fuel_mmbtu_per_unit'].std()
s_d

10.600220307806714

In [10]:
# finding the 75% percentile
seventy_five_percentile=fuel_data['fuel_mmbtu_per_unit'].quantile(q=0.75,interpolation='linear')
seventy_five_percentile

17.006

## finding the skewness Question 7

In [12]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

## finding the kurtosis

In [14]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

## finding the lowest average fuel cost question 9

In [23]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 10

In [18]:
# The extend function in python is used to combine datasets

## Question 4

In [21]:
# The feature with missing values fall under categorical.

## Question 3

In [26]:
fuel_data.corr().loc['fuel_cost_per_unit_burned'].abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 2

In [28]:
#finding the fuel cost per unit burned in both years
annual_cost=fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
year_1994, year_1998=annual_cost.loc[[1994,1998],'coal']
percent_difference=((year_1998-year_1994)/year_1994)*100
percent_difference

-20.56765451826049

## Question 5

In [30]:
#finding the year with highest average fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64